body {
  font-family: sans-serif;
  background: #f7f9fb;
  text-align: center;
  margin-top: 80px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 15px;
  cursor: pointer;
}

button:active {
  background: #0056b3;
}

p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}
